<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="process" value="csgo"/>
      <add key="dllpath" value=""/>
      <add key="waitforprocess" value="0"/>
      <add key="delay" value="0"/>
      <add key="method" value="0"/>
    </appSettings>
</configuration>